<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Hello!{% endblock %}</title>

    {% block stylesheets %}
    <link
      href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link href="{{ asset('css/w3.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/app.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/sb-admin-2.css') }}" rel="stylesheet" />
    <link
      href="{{ asset('bootstrap-4.3.1/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bootstrap-4.3.1/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    <script src="{{ asset('js/sb-admin-2.js') }}"></script>
    <script src="{{
        asset('vendor/bootstrap/js/bootstrap.bundle.min.js')
      }}"></script>
    {% endblock %}
  </head>

<body id="page-top" style="font-size:12px;">
    <div  style="position: absolute;bottom: 21px;left: 30px" >
    </div>
        <div id="wrapper">
            <!-- Sidebar -->
            <ul class="navbar-nav  sidebar sidebar-dark accordion" id="accordionSidebar"  style="background:#03060a">
            <!-- Sidebar - Brand -->
            <span class=" d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img src="{{asset('photos/images/transcopub.png')}}" width="100px" height="100px">
                </div>
                <div class="sidebar-brand-text mx-3"></sup></div>
            </span>
            <!-- Nav Item - Dashboard -->
            <li class="nav-item  ">
                <a class="nav-link text-light text-uppercase" href="/index">
                <i class="fas fa-fw fa-tachometer-alt text-light"></i>
                <span>Dashboard</span></a>
            </li>
            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed text-light" id="gestion_produit" href="" >
                <i class="fas fa-fw fa-cog text-light"></i>
                <span class="text-uppercase" > Fiche Hebdomadaire </span>
                </a>
            </li>

            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed text-light" id="gestion_produit" href="/personnels" >
                <i class="fas fa-fw fa-cog text-light"></i>
                <span class="text-uppercase" > Client </span>
                </a>
            </li>
        
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed text-light" id="gestion_produit" href="" >
                <i class="fas fa-fw fa-cog text-light"></i>
                <span class="text-uppercase" > Contrat </span>
                </a>
            </li>

            <hr class="sidebar-divider">
                <li class="nav-item">
                <a class="nav-link collapsed text-light" id="gestion_produit" href="" >
                <i class="fas fa-fw fa-cog text-light"></i>
                <span class="text-uppercase" > Proprietaire Voiture </span>
                </a>
            </li>

            <hr class="sidebar-divider">
            <li class="nav-item">
            <a class="nav-link collapsed text-light" id="gestion_produit" href="" >
            <i class="fas fa-fw fa-cog text-light"></i>
            <span class="text-uppercase" > Paiement </span>
            </a>
            </li>

            <hr class="sidebar-divider">
            <li class="nav-item">
            <a class="nav-link collapsed text-light" id="gestion_produit" href="" >
            <i class="fas fa-fw fa-cog text-light"></i>
            <span class="text-uppercase" > Liste Voiture </span>
            </a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">
            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light  topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link  text-light rounded-circle mr-3">
                    <i class="fa fa-bars"></i> 
                </button> 
                <button class="btn btn-link text-light ">
                    <i class="fas fa-comments "></i>
                </button>
                <!-- Topbar Search -->
                <span id="demo">
                </span>
                <span class="float-right" style="position: absolute;right: 320px">
                <!-- Bonjour <?php echo '<strong>'.Session::get('nom').'</strong>, Nous sommes le <strong>'.date_complete($date_now).'</strong>' ?> -->
                </span>           
                    <a  href="#" data-toggle="modal" data-target="#deconnexion" style="position: absolute;right: 20px" class="btn btn-danger btn-sm float-right">Deconnexion</a>
                <!-- Topbar Navbar -->
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid"  id="contenu"
                    style="height:510px;
                ">
                <!-- Page Heading -->
                <!-- Content Row -->
                <span class="float-left" style="left: 50px;">
                <input type="button" onclick="window.history.back()" value="Retour" class=" btn btn-sm btn-danger">
                </span>
            </div>
        </div>
</body>
    {% block body %} {% endblock %} {% block javascripts %}
    <script>
    function animationMouseEnter() {
      var x = document.querySelector(".bg-shadow");
      var form = document.querySelector(".form-class");
      var link_div = document.querySelector(".link-div");
      var input_text = document.querySelector(".input-text");
      var input_text2 = document.querySelector(".input-text2");
      var logo_login = document.querySelector(".logo-login");
      var y = document.querySelector(".super");
      x.style.transform = "rotate(4deg)";
      input_text.style.width = "60%";
      input_text2.style.width = "60%";
      form.style.transform = "rotate(-4deg)";
      logo_login.style.marginTop = "-70px";
      x.style.borderTopRightRadius = "100%";
      y.style.backgroundColor = "#c2f21a";
      link_div.style.visibility = "visible";
      logo_login.style.visibility = "visible";
      x.style.transition = "1s all";
      y.style.transition = "1s all";
      logo_login.style.transition = "1s all";
      form.style.transition = "1s all";
      link_dev.style.transition = "1.5s all";
      input_text.style.transition = "1s all";
      input_text2.style.transition = "1s all";
    }
    function animationMouseLeave() {
      var form = document.querySelector(".form-class");
      var x = document.querySelector(".bg-shadow");
      var input_text = document.querySelector(".input-text");
      var input_text2 = document.querySelector(".input-text2");
      var y = document.querySelector(".super");
      var link_div = document.querySelector(".link-div");
      var logo_login = document.querySelector(".logo-login");
      form.style.transform = "rotate(0deg)";
      input_text.style.width = "100%";
      input_text2.style.width = "100%";
      link_div.style.visibility = "hidden";
      x.style.transform = "rotate(0deg)";
      logo_login.style.marginTop = "0px";
      x.style.borderRadius = "0px";
      x.style.transition = "1s all";
      y.style.backgroundColor = "#7a0889";
      y.style.transition = "1s all";
      logo_login.style.transition = "1s all";
      link_dev.style.transition = "1s all";
      logo_login.style.transition = "1s all";
      input_text.style.transition = "1s all";
    }
    </script>
    <script type="text/javascript">
    var myVar = setInterval(myTimer, 1000);
    function myTimer() {
      var d = new Date();
      document.getElementById("demo").innerHTML = d.toLocaleTimeString();
      if (d.toLocaleTimeString() < "") {
        $("#bilan").click();
      }
    }
    </script>
    {% endblock %}
</html>
